.side-navbar,
.nav-links-container {
    height: 10vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
}

.side-navbar {
    position: absolute;
    left: 10%;
    top: 15%;
    gap: 2rem;
}

.create-button-container {
    width: 100%;
}

.create-button,
.nav-links-container button {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.create-button {
    width: 100%;
    background-color: #2192FA;
    color: #F8F8F8;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
}

.create-button:hover {
    cursor: pointer;
}

.create-button:active {
    transform: scale(.98);
    transition: all .1s ease-in-out;
}

.nav-links-container {
    display: flex;
    flex-direction: column;
}

.posts-button,
.topics-button {
    background-color: transparent;
    color: #758694;
    padding: .75rem;
    border: none;
    border-radius: .5rem;
    text-align: left;
}

.active-link {
    font-weight: 600;
    color: #2192FA;
    background-color: #E0EDFA;
}

.nav-links-container button:hover {
    background-color: #E0EDFA;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

