.landing {
    width: auto;
    background-color: #F5F7FA; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.topLanding,
.bottomLanding {
    border-radius: 1rem;
    box-shadow: 0px 3px 20px rgba(33, 146, 250, 0.1);
}

.topLanding {
    margin: 2% 0;
    width: 80%;
    height: 75vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;

}

.topDiv-words {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topDiv-words-container {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topDiv-words{
    width:50%;
}

.topDiv-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.bottomLanding{
    background-color: #C4D8E3;
    margin: 0 0 2% 0;
    width: 80%;
    height: 75vh;
    display: flex;
    flex-direction: row;
}

.bottomDiv-words-container {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottomDiv-words{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomDiv-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.bottomDiv-words{
    width:50%;
}
.social-friends {
    width: 75%;
    height: 75%;
}
.social-serenity{
    width:85%;
    height:85%;
}


h1{
    margin: 0;
    padding: 0;
    color:#0B1319;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 5rem;
}

h3{
    color:#758694;
    font-size: 1.5rem;
    font-weight: normal;
    
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 2rem;
        line-height: 3rem;
    }

    h3 {
        font-size: 1rem;
    }

    .topLanding,
    .bottomLanding {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .topDiv-words,
    .bottomDiv-words {
        height: 50%;
        width: 90%;
        text-align: center;
    }

    .topDiv-image,
    .bottomDiv-image {
        width: 70%;
        height: 50%;
    }

}


