.create{
    background-color: #F5F7FA;
    width: 100vw;/*view width*/
    height:100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

h2{
    color:#0B1319;
    font-size: 36px;
    font-weight: bold;
   
}
button{
    background-color:#2192FA;
    color:#FFFFFF;
    border:transparent;
    padding:1rem; 
    border-radius:.5rem; 
   
}

.postIt{
    width:65%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    margin: 2% 0; 
}
.header{
    width:65%;
    padding-left:10rem;
}
.post{
    width:35%; 
}
.encaps-post{
    background-color: white;
    box-shadow: 0px 3px 20px rgba(33, 146, 250, 0.1);
    width:45%;
    height:60%;
    border-radius: 1rem; 
    padding:0rem 0rem 0rem 0rem; 
    /* display: flex;
    flex-direction: column;
    align-items: left; 
    justify-content: center; */
    margin: 2% 0;
}

input, .word-count, button {
    font-family:  'Open Sans', sans-serif;
}
 

.title{
    border:1px solid #E2E5E7; 
    border-radius: .5rem;
    width:74%;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 2% 0;
    padding: 1rem;/* top bottom left right*/
}
.post-text{
    border:1px solid #E2E5E7; 
    border-radius: .5rem .5rem 0rem 0rem;
    padding-bottom: 10em;
    padding-top:.5rem; 
    padding-left:1rem; 
    width:77%;
    margin: 0% 0;
}
.word-count{
    border:1px solid #F5F7FA; 
    width:80%;
    display: flex;
    align-items: center; 
    justify-content: right;
    margin: 0% 0;
    padding-bottom:1rem; 
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    color:#758694;
}
.topic{
    border:1px solid #E2E5E7; 
    color:#758694;
    width:77%;
    display: flex;
    align-items: center; 
    justify-content: left;
    margin: 2% 0;
    border-radius:.5rem; 
    padding:0rem 1rem 1rem 0rem; 
}
.topic-text{
    width:100%;  
    border:none;
}
.title-text{
    width:100%; 
    border:none;
}
.topic-text:focus, .title-text:focus{
    outline:none; 
}
.text-container{
    height: 50vh;
    padding:2rem;
    display: flex;
    flex-direction:column; 
    align-items: center; 
    justify-content: center;
   

}
.post-and-count{
    width:100%; 
    padding-left:0em;
    display: flex;
    flex-direction:column; 
    align-items: center; 
    justify-content: center; 
 
}

