.sign-in-popup-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
}

.sign-in-popup {
    width: 60vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 20px rgba(33, 146, 250, 0.1);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    border-radius: 1rem;
}

h2 {
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

.sign-in-popup-left,
.sign-in-popup-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-popup-left {
    width: 40%;
    background-color: #2192FA;
    color: #FFFFFF;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.welcome-msg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-msg-container p {
    width: 70%;
    text-align: center;
}

.social-networking {
    height: 50%;
    width: 60%;
    margin-bottom: 3rem;
}

.sign-in-popup-right {
    position: relative;
    width: 60%;
}

.close-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.close-button:hover {
    cursor: pointer;
}

.sign-in-form-container,
.sign-up-form-container {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sign-up-form-container {
    height: 90%;
}

.sign-in-form,
.sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.label-input-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.error-label {
    text-transform: uppercase;
    font-size: .75rem;
    margin-bottom: 0;
    color: #EF233C;
}

.sign-in-form input,
.sign-up-form input {
    padding: 1rem;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border: 1px solid #E8EAED;
    border-radius: .5rem;
}

.sign-in-form input:focus,
.sign-up-form input:focus {
    outline: none;
    border-color: #2192FA;
}

.sign-in-form-container button,
.sign-up-form-container button {
    padding: 1rem;
    background-color: #2192FA;
    border: transparent;
    color: #FFFFFF;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border-radius: 3rem;;
}

.sign-in-form-container button:hover,
.sign-up-form-container button:hover {
    background-color: #1f82df;
    cursor: pointer;
}

.forgot-password-link,
.sign-in-link,
.sign-up-link {
    color: #2192FA;
}

.forgot-password-link {
    text-align: right;
    color: #758694;
    text-decoration: none;
}

.forgot-password-link:hover,
.sign-in-link:hover,
.sign-up-link:hover {
    color: #2192FA;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .sign-in-popup-left {
        display: none;
    }

    .sign-in-popup-right {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .sign-in-popup {
        width: 85vw;
    }
}